* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --margin: 1rem;
    --border: 1px solid black;
}

main{
    max-width: border-box;
}

aside{
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 30px;
    left: 70px;
    color: antiquewhite;

}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a{
    height: 100 px;
    color: white;
    display: inside;
    padding: 20px;
}

h1{
    color: darkblue;
}

main img{
    width: 150px;
    height: auto;
    margin: var(--margin);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p{
    padding: 0;
}

ul{
    width: 315px;
    height: auto;
}

footer{
    margin-top: 2rem;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: var(--margin);
    border: var(--border);
    padding: 1rem;
    background-color: rgba(230, 243, 254);
    color: rgba(51, 51, 51);
}

/*comentario*/
